:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: $defaultTextLight;
  background-color: $bgDark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: $primary;
  text-decoration: inherit;
}

body {
  margin: 0;
  min-width: 320px;
  padding: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: $buttonBg;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: $primary;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

#app {
  text-align: center;
  width: 100%;
}

@media (prefers-color-scheme: light) {
  :root {
    color: $defaultTextDark;
    background-color: $white;
  }
  a:hover {
    color: $primary;
  }
  button {
    background-color: $buttonBgLight;
  }
}
